.i18n-more-extra-tax-and-shipping-fee::before {
  content: "Before tax and shipping charges";
}
.i18n-more-extra-tax-and-shipping-fee-zh::before {
  content: "稅金及運費另計";
}
.i18n-more-detail::before {
  content: "More Details ";
}
.i18n-more-detail-zh::before {
  content: "細節規格 ";
}
.i18n-goto::before {
  content: "Go to ";
}
.i18n-goto-zh::before {
  content: "前往 ";
}
.i18n-fill-request-form::before {
  content: "Fill out the request form";
}
.i18n-fill-request-form-zh::before {
  content: "填寫需求單";
}