.dk-entry {
	margin-top: 60px;
	margin-bottom:30px;
	padding-left:25px;
	padding-right:25px;
}
@media (min-width: 768px) {
	.dk-entry {
		padding-left:0px;
		padding-right:0px;
	}

}
.dk-item li {
	    list-style-image: url('../images/dk-feature-icon-s.png');
		display: list-item;

}


.dk-name {
  font-size:28px;
  font-style:bold;
  color:#222;
  font-family:'Josefin Sans';

}
.dk-desc {
  display:inline-block;
  font-size:25px;
  color:#3096e5;
  color:#222;
  font-family:'Josefin Sans';

}
em {
	color:#3096e5;
}

.dk-title {
	margin-top:250px;
}

.dk-title-image{
	margin-top:60px;
	margin-bottom:20px;
}

div.captioned-picture{  
    border:3px solid #999;
    float:left; /* important */  
    position:relative; /* important(so we can absolutely position the description div */  
}  
div.caption-box{  
    position:absolute; /* absolute position (so we can position it where we want)*/  
    bottom:0px; /* position will be on bottom */  
    left:0px;  
    width:100%;  
    /* styling bellow */  
    background-color:#333;  
    font-family: 'tahoma';  
    font-size:15px;  
    color:#eee;  
    opacity:0.6; /* transparency */  
    filter:alpha(opacity=60); /* IE transparency */  

}  
p.caption{  
    padding:10px;  
    margin:0px;
	
}

.section-heading{
  font-family:'Josefin Sans';
  margin-top:10px;
  margin-bottom:10px;
  color:#666;
  font-size:30px;

}

@media (min-width: 768px) {
    .section-heading {
      margin-top:25px;
      margin-bottom:25px;
	  font-size:60px;  
	}
}



.page-heading-desc{
	margin-top:10px;
	margin-bottom:10px;
	//background-color:rgba(48,160,239,0.1);
	background-color:rgba(128,128,128,0.1);
	padding:10px;
	font-size:14px;
}
.page-heading{
  font-family:'Josefin Sans';
  margin-bottom:25px;
  font-size:25px;
  color:#fff;
}


@media (min-width: 768px) {
.page-heading-desc{
	margin-top:120px;
	margin-bottom:120px;
	//background-color:rgba(48,160,239,0.1);
	background-color:rgba(128,128,128,0.1);
	padding:10px;
	font-size:18px;
}
.page-heading{
  font-family:'Josefin Sans';
  margin-bottom:25px;
  font-size:60px;
  color:#fff;
}
}
.combo-row {
	margin-top:60px;
	margin-bottom:60px;
}

.dk-title-div {


  //width: 100vw;
  //height:100vh;
  background-color: #222;
  background-image: url('../images/dk-head-background.png');
  //background-size:cover;  
}

.dk-combo-div {
	padding-top:50px;
	padding-bottom:100px;
	background-image: url('../images/dk-combo-background.jpg');
	background-size: cover;
}
  
.white {
	color:#bbb;
}
.sensors{
	background-color:#eee;
}
.sensor-desc {
	color:#6f7b2e;
}
.conn-desc {
	color:#677C97;
}
.accessories-desc {
	color: #759DA5;
}
.desc-heading {
	margin-top:15px;
	margin-bottom:30px;
	color: #759DA5;
}
.dk-details  {
	color: #777;
	font-size:14px;
}
.dk-feature-icon{
	width:36px;
	height:36px;
}

.dk-combo-set-item{
	display:inline;
	color:#ddd;
	font-size:12px;
}
.dk-feature-text {
  display:inline-block;
  font-size:14px;
  color:#aaa;
}

.dk-sensor-list{
	height: 110px;
}

@media (min-width: 1480px) {
  .dk-feature-text {
    font-size:18px;
  }
}

.row-4 {
	padding-left:20px;
	padding-right:20px;
}
@media (min-width: 768px) {
  .row-4 {
	padding-left:150px;
	padding-right:150px;
  }
}



@media (min-width: 1480px) {
  .dk-feature-text {
    font-size:18px;
  }
}

.dk-image{
	padding-left:20px;
	width:200px;
	height:160px;
}

@media (min-width: 960px) {
  .dk-image {
    width:150px;
	height:120px;
  }
}
@media (min-width: 1200px) {
  .dk-image {
    width:200px;
	height:160px;
  }
}
@media (min-width: 1480px) {
  .dk-image {
	  width:250px;
	height:200px;
  }
}





.blog-div{  


    //background-color:#00709B;  
	background-color:#0176d9;
    font-family: 'tahoma';  
    font-size:15px;  
    color:#eee;  
    opacity:0.6; /* transparency */  
    filter:alpha(opacity=60); /* IE transparency */  
	

} 

.blog-button {

	background-color:rgba(0,0,0,0);
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:3px solid #dddddd;
	display:inline-block;
	cursor:pointer;
	color:#dddddd;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #00709B;
	margin-top:60px;
	margin-bottom:60px;
}
.blog-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0176d9), color-stop(0.75, #5fa9e8));
	background:-moz-linear-gradient(top, #0176d9 5%, #5fa9e8 75%);
	background:-webkit-linear-gradient(top, #0176d9 5%, #5fa9e8 75%);
	background:-o-linear-gradient(top, #0176d9 5%, #5fa9e8 75%);
	background:-ms-linear-gradient(top, #0176d9 5%, #5fa9e8 75%);
	background:linear-gradient(to bottom, #0176d9 5%, #5fa9e8 75%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0176d9', endColorstr='#eeeeee',GradientType=0);
	color:#c5e2fb;
	background-color:#0176d9;
}
.blog-button:active, .blog-button:visited, .blog-button:visited:after, .blog-button:link {
	position:relative;
    border:3px solid #0176d9;
	top:1px;
}

.blog-butto:focus {
    outline:0 !important;
	}
 