.nav h1,
.nav h2,
.nav h3,
.nav h4,
.nav h5,
.nav h6,
.nav p {
    margin-top: 5px;
    margin-bottom: 5px;
}
.nav h1 {
    font-size: 16px;
}
.nav p {
    font-size: 12px;
}

@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #FFFFFF;
    background: rgba(34, 34, 34, 0.4);
}

.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
    padding: 5px 15px 5px 25px;
    color: #FFFFFF;
    background: rgba(34, 34, 34, 0.4);
}

}
