.nav h1,
.nav h2,
.nav h3,
.nav h4,
.nav h5,
.nav h6,
.nav p {
    margin-top: 5px;
    margin-bottom: 5px;
}
.nav h1 {
    font-size: 16px;
}
.nav p {
    font-size: 12px;
}

@media (max-width: 767px) {
.navbar-default {
    background: rgba(34, 34, 34, 0.85);
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #FFFFFF;
    background: rgba(34, 34, 34, 0.85);
}

.navbar-default:hover .navbar-nav:hover .open .dropdown-menu>li>a:hover {
    color: #FFFFFF;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #FFFFFF;
}

.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
    color: #FFFFFF;
    background: rgba(34, 34, 34, 0.85);
}

