/* 
 * Generic styles
 */
div[class^="parallax-"],
div[class*=" parallax-"] {
  color: rgba(255, 255, 255, 1);
  text-align: center;
  min-height: 500px;
}

div[class^="parallax-"] h1,
div[class*=" parallax-"] h1 {
  font-weight: 400;
  padding-bottom: 20px;

  /* override bootstrap */
  margin-top: 0px;
  margin-bottom: 0px
}

div[class^="parallax-"] h2,
div[class*=" parallax-"] h2 {
  font-weight: 400;
  font-size: 48px;
  padding-bottom: 20px;

  /* override bootstrap */
  margin-top: 0px;
  margin-bottom: 0px
}

div[class^="parallax-"] p,
div[class*=" parallax-"] p {
  font-weight: 300;
  font-size: 20px;
}

/* 
 * Independent styles
 */

.parallax-header {
  padding-top: 150px;
}

.parallax-header h1 {
  font-size: 52px;
}

.parallax-header hr {
  margin: 30px auto;
}

.parallax-header img {
  width: 100%;
}

.parallax-window {
  padding-top: 30px;
}

.parallax-window h1 {
  font-size: 48px;
}

.parallax-window h2 {
  font-weight: 200;
  font-size: 36px;
}

.big-number,
.parallax-header h1.big-number {
  font-size: 100px; 
  font-weight: 100; 
  line-height: 108px;
}