div[class^="parallax-"],
div[class*=" parallax-"] {
  color: rgba(255, 255, 255, 1);
}

div[class^="parallax-"] p,
div[class*=" parallax-"] p {
  font-weight: 400;
  font-size: 20px;
}

.parallax-window {
  min-height: 400px;
  padding-bottom: 1px;
  margin-top: -20px;
}

.parallax-window h1,
.parallax-window p {
  text-align: center;
  margin-top: 0px;
}

.parallax-window h1 {
  font-weight: 200;
  font-size: 52px;
  padding-top: 150px;
}

.parallax-header {
  min-height: 400px;
  padding-bottom: 1px;
  margin-top: -20px;
}

.parallax-header h1 {
  font-weight: 200;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 70px;
  padding-top: 200px;
}

.parallax-header h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 50px;
  padding-top: 50px;
}

.parallax-header hr {
  margin: 30px auto;
}

.parallax-header img {
  padding-top: 180px;
  width: 100%;
}